    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        border: none;
        outline: none;
        scroll-behavior: smooth;
        font-family: "";
        text-align: center;
    }
    
     :root {
        --bg-color: #a1d5fd;
        --second-bg-color: #f7edf0dc;
        --text-color: #3f3e3e;
        --main-color: rgb(39, 145, 243);
        --second-color: rgb(248, 82, 22);
    }
    
    body {
        background-color: var(--bg-color);
        color: var(--text-color);
        font-size: 62%;
        overflow-x: hidden;
    }
    
    .header {
        position: fixed;
        width: 100%;
        padding: 1rem 4%;
        background: rgba(255, 255, 255, 0.3);
        border-bottom: 2px solid rgba(250, 245, 245, 0.3);
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }
    
    .logo {
        cursor: pointer;
        transition: 0.4s ease;
    }
    
    .logo img {
        width: 20%;
    }
    
    .logo:hover {
        transform: scale(1.1);
    }
    
    .navbar {
        display: flex;
        margin-right: 3rem;
    }
    
    .navbar a {
        font-size: 1.8rem;
        color: var(--second-color);
        margin-left: 4rem;
        transition: o.4s ease;
        font-weight: 500;
        border-bottom: 4px solid transparent;
        gap: 4rem;
    }
    
    .navbar a:hover,
    .navbar a.actice {
        color: rgb(39, 145, 243);
        border-bottom: 3px solid var(--main-color);
    }
    
    .nav-item {
        position: relative;
    }
    
    #menu-icon {
        font-size: 3.5rem;
        color: var(--main-color);
        display: none;
        cursor: pointer;
    }
    
    section {
        min-height: 100vh;
        padding: 10rem 9% 10rem;
    }
    
    .heading {
        color: var(--main-color);
        font-size: 2.5rem;
        margin-bottom: 2rem;
        text-shadow: 1px 2px 3px rgba(255, 255, 255, 0.8);
    }
    
    .about-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 1.5rem;
    }
    
    .about-box {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        height: 85%;
        border-radius: 10px;
        cursor: pointer;
        overflow: hidden;
        transition: 0.4s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .about-box:hover {
        border: 3px solid var(--main-color);
        color: #f6610a;
        transform: scale(1.02);
    }
    
    .about-box .about-info {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        text-align: left;
        justify-content: center;
        align-items: baseline;
        object-fit: cover;
    }
    
    .about-info h4 {
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    .about-info p {
        font-size: 1rem;
        margin-top: 2rem;
        font-weight: 550;
    }
    
    .about-info img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
    }
    
    a {
        text-decoration: none;
        color: #3f3e3e;
    }